/MasterThesis.aux
/MasterThesis.bcf
/MasterThesis.lof
/MasterThesis.log
/MasterThesis.lot
/MasterThesis.out
/MasterThesis.run.xml
/MasterThesis.synctex.gz
/MasterThesis.toc
/pdfa.xmpi
/sRGBIEC1966-2.1.icm